<header id="navigation-bar">
  <div class="row">
        <div class="nav-logo col col--6-of-12">
          <a href="#top">
            {% include /_svg/Hatcx_logo_full.svg %}
          </a>
        </div>
        <nav class="col col--6-of-12 top-nav ">
          <ul>
            <li class="bricktop"><a href="#top" data-anchor="top" class="ghost-button">↑ Top</a></li>
            <li><a href="#jobs" class="ghost-button">jobs</a></li>
            <li>
              <a href="{{site.facebook}}">
                {% include /_svg/Facebook.svg %}
              </a>
            </li>

            <li>
                <a href="{{site.twitter}}">
                  {% include /_svg/Twitter.svg %}
                </a>
            </li>

            <li>
              <a href="mailto:{{site.email}}">
                {% include /_svg/Envelope.svg %}
              </a>
            </li>
        </ul>
      </nav>
      <div class="drawer-open">
        {% include /_svg/hamburger.svg %}
      </div>
  </div>
</header>
<!-- <div class="mobilenav">
  <nav>
    <ul>
      <li class="bricktop"><a href="#top" data-anchor="top" class="ghost-button">↑ Top</a></li>
      <li><a href="#jobs" class="ghost-button">jobs</a></li>
      <li>
        <a href="{{site.facebook}}">
          {% include /_svg/Facebook.svg %}
        </a>
      </li>

      <li>
          <a href="{{site.twitter}}">
            {% include /_svg/Twitter.svg %}
          </a>
      </li>

      <li>
        <a href="mailto:{{site.email}}">
          {% include /_svg/Envelope.svg %}
        </a>
      </li>
  </ul>
</nav>
</div> -->
