<section class="section vacation">
  <div class="container">
    <div class="row">
      <div class="col col--12-of-12">
        {% include _svg/tree.svg %}
      </div>
    </div>
    <div class="row">
      <div class="col col--12-of-12">
        <h2>Vacation</h2>
        <p>
          Is your sister getting married in Mexico and you have a trip planned to Vegas this year? No worries, we offer generous vacation. We measure output not hours worked. Get your work done and have some FUN! Time away is important for your personal well being. We encourage our employees to take time off to rest and recharge.
        </p>
      </div>
    </div>
  </div>
</section>
