<section class="display positions" data-anchor="jobs">
  <div class="container">
    <div class="row">
      <div class="col col--12-of-12">
        <h2>Available Positions</h2>
        {% if site.data.jobs.Hiring == true %}
          <p>Check back weekly. We are always hiring BIG thinkers and problem solvers.</p>
        {% elsif  site.data.jobs.Hiring == false %}
          <p><em>We currently have no open positions, but check back weekly and feel free to <a href="mailto:{{site.email}}">contact us</a>. We're always looking for great talented people who are solution oriented, love to innovate, and want build some awesome stuff.</em></p>
          {% include _svg/BrokenHeart.svg%}
        {% endif %}
    </div>
    {% if site.data.jobs.Hiring == true %}
      <div class="post-it-row">
      {% for job in site.data.jobs.Positions  %}
        <div class="post-it">
          <div class="pin"></div>
          <div class="job-title">{{job.title}}</div>
            <p><a href="#">{{job.description}}</a></p>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
