<section class="section exist">
    <div class="container">
        <div class="col col--12-of-12">
            <div class="emblem" id="emblem-header">
                <h2>Why We<br><div class="enlarged">Exist</div></h2>
            </div>
            <div class="about-why">
                <div class="rw-wrapper">
                    <h3 class="rw-sentence">
                        <span>Because it's your</span>
                        <span class="rw-words mint">
                            <span>information.</span>
                            <span>history.</span>
                            <span>decision.</span>
                            <span>family.</span>
                            <span>future.</span>
                            <span>health.</span>
                        </span>
                        <span class="rw-words-placeholder">information.</span>
                    </h3>
                </div>
                <div class="border-bottom"></div>
                <div class="about-what">
                    <p>At HATCX, we believe the healthcare industry needs to change—and we want to be that <span class="mint">positive change</span>. We are bursting with ideas, energy, and a deep understanding of how healthcare works (and often, how it
                        doesn’t). We exist to help <span class="mint">connect</span> you with your health.</p>
                    <p>We believe in creating easy, <span class="mint">simple solutions</span> to a complex industry. We want to <span class="mint">empower</span> you with the right tools to make the best personal health decisions. We want to <span class="mint">innovate where innovation is needed</span>                        most—to bring <span class="mint">transparency</span> to service, give you control of your personal health information and make it easy to access.</p>
                    <p>Ultimately we want to <span class="mint">change</span> the way you think about and use healthcare.</p>
                </div>
            </div>
        </div>
    </div>
</section>
