<section class="display breaktime">
  <div class="container">
  <div class="row">
    <div class="col col--12-of-12">
       {% include _svg/coffee_cup_sep.svg %}
    </div> <!--[col]-->
  </div> <!--[row]-->
  <div class="row">
    <div class="col col--12-of-12">
      <h2>Breaktime</h2>
      <p>
      Join the ping pong tourney, zone out with the PlayStation®, find your inner peace with some yoga or catch up on your soaps. We offer an amazing break area, fully stocked kitchen and zen space to help you take a break how ever you deem necessary.
      </p>
    </div> <!--[col]-->
  </div> <!--[row]-->
</div> <!--[container]-->
</section>
