<section class="slide about">
  <div class="container">
    <div class="heart">
      <div class="row">
        <div class="col col--12-of-12">
          <h2>Who We Are</h2>
          <h3>We {% include svg/heart.svg %} Our Community</h3>
          <p>
          Headquartered in Lincoln &amp; Omaha, Nebraska and proud of it. We seek to give back to our community by organizing opportunities and events for our employees to engage and give back constantly. We are passionate about positive impact and change no matter how small or big.</p>
          <p>To find out about our upcoming events please visit us on <a href="http://www.facebook.com/">Facebook</a> or to nominate an event for HATCX’s consideration please email: <a href="mailto:events@HATCX.com">events@HATCX.com</a></p>
        </div> <!--col-->
      </div> <!--row-->
      <div class="row">
        <div class="col col--12-of-12">
          <h3>We {% include svg/heart.svg %} our problems to solve &amp;
        our team members who solve them.</h3>
          <p>We seek to provide the best workplace environment and the best benefits so you can work hard, have fun and make history.</p>
          <p>We value thinking BIG,  Being comfortable with ambiguity and solution oriented, having a bias for action and a fresh take, equality, problem lovers, celebrating failures, risk takers, being humble, accountable, and pushing boundaries.</p>
        </div> <!--col-->
      </div> <!--row-->
    </div> <!--heart -->
  </div> <!--container-->
</section>
