<section class="besties">
  <div class="row">
    <div class="col col--12-of-12">
      {% include /svg/Horns.svg %}
    </div>
  </div>
  <div class="row">
    <div class="col col--12-of-12">
      <h2>Best People</h2>
      <p>
        Our employees are what makes us successful, and we think they are awesome. You will work with a smart, innovative, positive and supportive team who wants you to succeed. Work with some of the best and brightest people in our industry.
      </p>
    </div>
  </div>
</section>
