<section class="slide careers">
  <div class="container">
    <div class="row">
      <div class="col col--4-of-12">
        {% include /svg/code.svg %}
      </div>
      <div class="col col--4-of-12">
        {% include /svg/Sketch.svg  %}
      </div>
      <div class="col col--4-of-12">
        {% include /svg/analytics.svg %}
      </div>
    </div>
    <div class="row">
      <div class="col col--12-of-12 careers-text">
        <h2>Careers</h2>
        <p>We seek to provide the best workplace environment and the best benefits so you can work hard, have fun and make history.</p>
      </div>
    </div>
  </div>
</section>
