<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <title>Method - Digital Agency, Auckland, NZ - Web, Virtual &amp; Augmented Reality, Mobile</title>

 <!-- Meta Junk -->
  <meta name="description" content=" # ">
  <meta name="keywords" content=" # ">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

 <!-- Facebook -->
  <meta property="og:site_name" content=" # ">
  <meta property="og:type" content="Website">
  <meta property="og:url" content=" # ">
  <meta property="og:title" content="{{page.title}}">
  <meta property="og:description" content="#">
  <meta property="og:image" content="http://method.digital/www/images/layout/method-fb.jpg">

 <!-- Icons -->
  <link rel="icon" href="/www/images/layout/favicon.png" type="image/x-icon">

 <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
