<header>
  <div class="row">
        <div class="nav-logo col col--3-of-12">
          {% comment %}{% include svg/Hatcx_logo_full.svg %}{% endcomment %}
        </div>
        <nav class="col col--9-of-12 top-nav">
          <ul>
            <li><a href="#jobs" class="ghost-button">jobs</a></li>
            <li>
              <a href="#">
                {% include svg/Facebook.svg %}
              </a>
            </li>

            <li>
                <a href="#">
                  {% include svg/Twitter.svg %}
                </a>
            </li>

            <li>
              <a href="#">
                {% include svg/Envelope.svg %}
              </a>
            </li>
        </ul>
      </nav>
  </div>
</header>
