<header>
    <div class="row">
        <div class="nav-logo col col--3-of-12">
          {% include /svg/Hatcx_Logo_full.svg %}
        </div>
        <nav class="col col--9-of-12">
          <ul>
            <li><a href="#">Jobs</a></li>
            <li>
              <a href="#">
                {% include /svg/Facebook.svg %}
              </a>
            </li>

            <li>
                <a href="#">
                  {% include /svg/Twitter.svg %}
                </a>
            </li>

            <li>
              <a href="#">
                {% include /svg/Envelope.svg %}
              </a>
            </li>
        </ul>
      </nav>
    </div>
</header>
