<section>
    <h2>The Road Ahead</h2>
    <p>
        As always, the future is unclear, but we're paving the road to revolutionizing the health care industry through empowering you with the tools you need to thrive. Stay tuned, something big is coming...
    </p>
    <ul>
        <li>
            <a href="">
                {% include  /svg/Facebook.svg %}
            </a>
        </li>
        <li>
          <a href="#">
            {% include /svg/Twitter.svg %}
          </a>
        </li>
        <li>
          <a href="#">
            {% include /svg/Envelope.svg %}
          </a>
        </li>
    </ul>
</section>
