+keyframes(rotateWord)
  0%
    opacity: 0
  2%
    opacity: 0
    +transform(translateY(-30px))
  5%
    opacity: 1
    +transform(translateX(0))
  17%
    opacity: 1
    +transform(translateX(0))
  20%
    opacity: 0
    +transform(translateX(30px))
  80%
    opacity: 0
  100%
    opacity: 0

+keyframes(bounce)
  from
    +transform(translateY(30px))
  to
    +transform(translateY(0px))

+keyframes(bounce-out)
  from
    +transform(translatex(0px))
  to
    +transform(translateX(-500px))

+keyframes(down)
  from
    +transform(translateY(0px))
  to
    +transform(translateY(30px))

.fp-viewing-flexibleHours
  .clockTime
    +animation(roll 3s ease-out)
    +transform-origin(center)
  .clockMinute
    +animation(roll 6s linear infinite)
    +transform-origin(212px 216px)
  .clockHour
    +animation(roll 72s linear infinite)
    +transform-origin(210px 215px)
+keyframes(roll)
  from
    +transform(rotate(0deg))
  to
    +transform(rotate(360deg))

.fp-viewing-casual
  .sleeveLeft
    +animation(unfoldLeft 2s)
    +transform-origin(top center)
  .sleeveRight
    +animation(unfoldRight 2s)
    +transform-origin(top center)
  .tshirt
    overflow: visible
+keyframes(unfoldLeft)
  from
    +transform(rotate(180deg) scale(3))
  to
    +transform(rotate(0deg) scale(1))
+keyframes(unfoldRight)
  from
    +transform(rotate(-180deg) scale(3))
  to
    +transform(rotate(0deg) scale(1))

.fp-viewing-breakTime
  .steams
    +animation(steamMid 3s ease-out)
    +animation-fill-mode(forwards)
  .steam.middle
    +animation(steamMid 2s 500ms linear)
    +animation-fill-mode(forwards)
  .steam.top
    +animation(steamTop 2s 500ms linear)
    +animation-fill-mode(forwards)

+keyframes(steamMid)
  from
    +transform(translate(-13px, 90px))
    opacity: 0
  to
    +transform(translate(0px))
    opacity: 1
+keyframes(steamTop)
  from
    +transform(translate(-61px, 122px))
    opacity: 0
  to
    +transform(translate(0px))
    opacity: 1

.fp-viewing-vacation
  .sunny
    +animation(roll 30s linear infinite)
    +transform-origin(center)

.fp-viewing-bestPeeps
  .horns
    +animation(pivot 2s 1s ease-out)
    +animation-fill-mode(forwards)
    +transform-origin(bottom right)
    opacity: 0
+keyframes(pivot)
  0%
    opacity: 0.3
    +transform(rotate(-30deg) perspective(500px) translateZ(300px))
  100%
    opacity: 1
    +transform(rotate(0deg) translateZ(0px))

.heartfetti
  overflow: visible !important

.rect-row
  opacity: 0
.dots
  opacity: 0

.fp-viewing-events
  #leftball
    +transform(translateX(-114px) rotate(-38deg))
    +animation(leftball 1s 1s ease-out)
    +animation-fill-mode(forwards)
    +transform-origin(top right)
  #rightball
    +transform(translateY(5px) rotate(40deg))
    +animation(rightball 1s 1s ease-out)
    +animation-fill-mode(forwards)
    +transform-origin(top left)


  .rect-row:nth-child(1)
    +animation(rects 1s 2s linear 3)
    +animation-fill-mode(forwards)

  @for $i from 2 through 10
    .rect-row:nth-child(#{$i})
      +animation(rects 1s #{$i}s linear 3)
      +animation-fill-mode(forwards)

  .dots:nth-child(1)
    +animation(rects 500ms 2s linear 3)
  @for $i from 2 through 17
    .dots:nth-child(#{$i})
      +animation(rects 500ms #{$i * 500}ms linear 3)
      //+animation-play-state(reverse)
      //+animation-fill-mode(forwards)

+keyframes(leftball)
  from
    +transform(translateX(-114px) rotate(-38deg))
  to
    +transform(translateX(0px) rotate(0deg))

+keyframes(rightball)
  from
    +transform(translateY(5px) rotate(40deg))
  to
    +transform(translateY(0px) rotate(0deg))

+keyframes(rects)
  to
    opacity: 0
  from
    opacity: 0.75
