\:root
  font-size: 15px

*
  box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased

body
  background: $sky
  color: $white
  font-family: $body-font
  font-size: 2rem
  +phones
    font-size: 1.2rem

h1, h2, h3, h4, h5, h6
  font-family: $header-font
  margin: 0

@each $header, $size in (h1: 8rem, h2: 6rem, h3: 4rem, h4: 3rem, h5: 2rem, h6: 1.5rem)
  #{$header}
    font-size: $size

a
  color: $mustard
  text-decoration: none
  +transition(0.3s)
  &:hover
    color: $carrot


.container
  max-width: 120rem
  margin: 0 auto
  padding: 1rem

section
  text-align: center
  svg
    fill: white

.four0four
  +display(flex)
  +flex-direction(column)
  +justify-content(center)
  +align-items(center)
  height: 100vh
  font-size: 2rem
  .container
    text-align: center
  a
    font-size: 5rem
  h1
    font-size: 15rem
  svg
    fill: white
