\:root
  font-size: 1vh

*
  box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased

body
  background: $sky
  color: $white
  font-family: $body-font
  font-size: 2rem

h1, h2, h3, h4, h5, h6
  font-family: $header-font

h1
  font-size: 10rem
h2
  font-size: 8rem
h3
  font-size: 6rem
h4
  font-size: 4rem
h5
  font-size: 3rem
h6
  font-size: 2rem


main
  max-width: 120rem
  margin: 0 auto
  padding: 1rem

.ghost-button
  display: inline-block
  border: 2px solid $sky
  border-radius: 6px
  padding: 1rem
  color: $sky
  text-decoration: none
  font-weight: bold
  font-family: $header-font

/* Type */
