header
  //background: white
  //margin-top: 4rem
  padding: 1rem
  line-height: 1rem
  position: fixed
  z-index: 70
  width: 100%
  .row
    width: 100%
    +display(flex)
  svg
    fill: $white

.nav-logo
  +align-self(flex-start)
  width: 25%
  +phones
    width: 50%
  svg
    max-width: 20rem

.top-nav
  +align-self(flex-end)
  text-align: right
  width: 75%
  ul
    list-style-type: none
    margin: 0
    padding-left: 0
    li
      display: inline
      margin-right: 0.5rem
    a
      text-decoration: none
    svg
      max-width: 3rem
      position: relative
      top: 0.7rem
      +phones
        max-width: 2rem

.ghost-button
  display: inline-block
  border: 2px solid $white
  border-radius: 6px
  padding: 1rem
  color: $white
  text-decoration: none
  font-weight: bold
  font-family: $header-font
  &:hover
    color: white
    background-color: transparentize(white, 0.5)
  +phones
    padding: 0.5rem
.footer-nav
  ul
    list-style-type: none
    margin: 0
    li
      display: inline
      margin-right: 0.5rem
    a
      text-decoration: none
    svg
      max-width: 3rem
