.slide
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  height: 100vh
  padding: 2rem
  display: flex
  align-items: center
  justify-content: center
  text-shadow: 0 4px 6px transparentize($denim, 0.5)
  h2
    text-transform: uppercase
  svg
    max-width: 30rem
    +filter(drop-shadow(0 4px 6px transparentize($denim, 0.5)))
  .heart-red
    fill: $strawberry
    max-width: 3rem

// HERO
.hero
  background-color: $strawberry
  background-image: url(/img/mom_on_comp.jpg)

.hatcx-mark
  background: url(/img/Hatcx_logo_white.svg)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  height: 75vh
  display: flex
  align-items: center
  text-align: center

// EXIST
.exist
  background-color: $denim
  background: url(/img/exist.png)
  background-repeat: no-repeat
  background-size: cover

.emblem
  background: url(/img/emblem_white.svg)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  text-align: center
  margin-bottom: 4rem
  h2
    font-size: 15rem

.enlarged
  font-size: 30rem
  line-height: 15rem


// ABOUT
.about
  background-color: $sky
  background: url(/img/omaha.jpg)
  background-size: cover

.heart
  background: url(/img/heart_white.svg)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  height: 75vh
  display: flex
  flex-direction: column
  align-items: center
  text-align: center

.careers
  background-color: $denim
  background: url(/img/careers_bkg.png)
  background-size: cover

.flexible-hours
  background-color: $mustard
  background-image: url(/img/clocks.jpg)
  background-position: left top
  //@include filter(brightness(0.85))

.events
  background-color: $strawberry
  background-image: url(/img/bokeh.jpg)

.casual
  background-color: $mustard
  background-image: url(/img/casz.jpg)

.breaktime
  background-color: $denim
  background-image: url(/img/BreakTime.jpg)

.vacation
  background-color: $strawberry
  background-image: url(/img/vacay.jpg)

.besties
  background-color: $mustard
  background-image: url(/img/Best_peeps.jpg)

.positions
  background-color: $strawberry
  background-image: url(/img/Corkboard_red.jpg)

.road
  background-image: url(/img/future-min.jpg)
