.section
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  height: 100vh
  //padding: 2rem
  +display(flex)
  +align-items(center)
  +justify-content(center)
  +transition(3s)
  //text-shadow: 0 4px 6px transparentize($denim, 0.5)
  //@media screen and (max-width: 700px)
    background-position: right
  h2
    text-transform: uppercase
    font-size: 10rem
    +phones
      font-size: 3rem
  svg
    max-width: 30rem
    //+filter(drop-shadow(0 4px 6px transparentize($denim, 0.5)))
    +phones
      max-width: 10rem
  .heart-red
    fill: $strawberry
    max-width: 3rem

.container
  +transition(1s linear)
#clock_icon
  +transition(1.5s ease-out)
  +animation-delay(1s)
#code
  +transition(1.5s ease)
  +animation-delay(5s)
#sketch
  +transition(1.5s ease)
  +animation-delay(6s)

// .careers.active #code
//   +animation(down 1s linear 0.25s forwards)
// .careers.active #sketch
//   +animation(down 1s linear 0.5s forwards)
// .careers.active #analytics
//   +animation(down 1s linear 1s forwards)

// HERO

.hero
  background-color: $strawberry
  +bg($hero)
  +tablets
    background-position: center
  @media screen and (max-width: 400px)
    background-position: -550px
    +bg($hero)

.hatcx-mark
  background: url(/img/Hatcx_logo_white.svg)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  height: 75vh
  +display(flex)
  //+justify-content(center)
  +align-items(center)
  text-align: center

// EXIST

.exist
  background-color: $denim
  +bg($exist)
  p
    +phones
      font-size: 1rem
  .container
    +phones
      padding-top: 5rem
#emblem-header
  +transition(5s ease-out)
.emblem
  background: url(/img/emblem_white.svg)
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  text-align: center
  +not-phones
    margin-bottom: 4rem
  h2
    font-size: 4rem
    +not-phones
      font-size: 12rem
  .enlarged
    font-size: 6rem
    +not-tablets
      font-size: 24rem
      line-height: 15rem

  .about-why
    display: block

  .about-what p
    margin-top: 32px

.rw-sentence
  +phones
    font-size: 2rem

.rw-words
  display: inline
  text-decoration: underline
  span
    position: absolute
    opacity: 0
    overflow: hidden
    +animation(rotateWord 18s linear infinite 0s)
    &:nth-child(2)
      +animation-delay(3s)
    &:nth-child(3)
      +animation-delay(6s)
    &:nth-child(4)
      +animation-delay(9s)
    &:nth-child(5)
      +animation-delay(12s)
    &:nth-child(6)
      +animation-delay(15s)

.rw-words-placeholder
  visibility: hidden

.border-bottom
  width: 50%
  height: 5px
  padding: 5px 0
  margin: 0 auto
  border-bottom: 5px dotted white

.rw-wrapper
  text-align: center

// ABOUT
.about
  background-color: $sky
  +bg($about)
  h2
    +phones
      margin-bottom: 1rem
      font-size: 2rem
  h3
    +phones
      font-size: 1.3rem
  p
    +phones
      font-size: 1rem

.heart
  +bg('/img/heart_white.svg')
  background-size: contain
  background-position: center center
  background-repeat: no-repeat
  height: 75vh
  +display(flex)
  +flex-direction(column)
  +align-items(center)
  text-align: center

.careers
  background-color: $denim
  +bg($careers)
  background-size: cover
  h2
    margin-top: 30px
.career-boxes
  +display(flex)
  +justify-content(space-around)
  .col
    width: 500px
    margin: 10px

.flexible-hours
  background-color: $mustard
  +bg($flex)
  +phones
    +bg("/img/clocks-600.png")
  background-position: left top
  //@include filter(brightness(0.85))

.events
  background-color: $strawberry
  +bg($events)

.casual
  background-color: $mustard
  +bg($casual)

.breaktime
  background-color: $denim
  +bg($breaktime)

.vacation
  background-color: $strawberry
  +bg($vacation)

.besties
  background-color: $mustard
  +bg($bestpeeps)
  +phones
    background-position: left

.positions
  background-color: $strawberry
  +bg($positions)

.road
  +bg($road)


// POST ITS

.post-it-row
  +display(flex)
  +flex-direction(row)
  +justify-content(space-around)
  +flex-wrap(wrap)
  margin-top: 20px

.post-it
  background: $white
  color: $black
  +square(300px)
  margin: 30px
  +display(flex)
  +flex-direction(column)
  //+justify-content(space-between)
  +align-items(flex-start)
  box-shadow: 14px 14px 9px transparentize($denim, 0.5)
  p
    width: 100%
    text-align: center
  +phones
    //background: transparentize(white, 0.7)
    //color: white
    //box-shadow: 0px 0px 0px transparent
    +flex-direction(row)
    +align-items(center)
    padding: 1rem
    font-size: 1.5rem
    font-weight: lighter
    +size(100%)
    margin: 1rem
    p
      text-align: left
      margin: 0


+not-phones
  @for $i from 1 through 5
    .post-it:nth-child(#{$i})
      +transform(rotate(random(20)+deg))

.pin
  +align-self(flex-start)
  +size(25px)
  +background-image(radial-gradient(lighten($denim, 50%), $denim, $black))
  border-radius: 50%
  margin: 10px auto 50px auto
  +phones
    +size(0px)

.job-title
  width: 100%
  text-align: center
  +phones
    text-align: left
    &::after
      content: " :"
