<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>

   <!-- Meta Junk -->
    <meta name="description" content="{{site.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

   <!-- Facebook -->
    <meta property="og:site_name" content="{{site.title}} ">
    <meta property="og:type" content="Website">
    <meta property="og:url" content="{{site.url}}{{page.url}} ">
    <meta property="og:title" content="{{page.title}}">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:image" content="http://hatcx.com/img/Hactx__logo.png">

   <!-- Icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#2DCCD3">

   <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cloud.typography.com/6798514/7510152/css/fonts.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6798514/6680552/css/fonts.css" />
  </head>
  <body>
    {{content}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/js/jquery.fullPage.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
